#wrapper {
    background-image: url(../images/background.jpg), url(../images/backgroundbottom.jpg);
    background-size: 100%;
    background-position: 0px 100px;
    border: 1px solid #338A2E;
    background-repeat: no-repeat, repeat;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 100px 50px auto 75px;
    grid-template-columns: 5% auto 30% 5%;
}

#rain {
    opacity: 0;
    background-image: url(../images/rain-clear.png);
    animation: rain .9s linear infinite;
    grid-area: 1/1/5/5;
}


@keyframes rain {
    0%
    { 
        background-position: 0% 0%;
    }
    100%
    {
        background-position: 0% 750%;
    }
}

#header {
    grid-area: 1/1/1/5;
    border: 3px solid black;
    font-family: 'Poiret One', cursive;
    text-align: center;
    background-color: white;
    font-size: 3;
}

#subheader {
    grid-area: 2/2/2/4;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(31, 31, 31, 0.5);
    color: white;
}

#leftdiv {
    grid-area: 3/2/3/2;
    border: 2px solid black;
    background-color: rgb(31, 31, 31, 0.5);
    text-align: center;
}

#leftDivHeader {
    color: white;
}

#rightdiv {
    grid-area: 3/3/3/3;
    border: 2px solid black;
    background-color: rgb(31, 31, 31, 0.5);
    text-align: center;
}

#footer{
    grid-area: 4/1/4/5;
    border: 2px solid black;
    bottom: 0;
    background-color: black;
    position: sticky;
    text-align: center;
}

p {
    color: white;
}

.start {
    text-align: center;
}

#imageHolder {
    border: 2px solid black;
    position: relative;
}